//fonts
@import url('https://fonts.googleapis.com/css?family=Saira+Condensed:300,400,500,700');

//var
$color_bg: rgba(237, 237, 237, 0.8);

//custom style
body{
  font-family: 'Saira Condensed', sans-serif;
}
.section-content{
  margin: 30px;
  .header{
    background-color: $color_bg;
    margin-bottom: 5px;
    h1{
      text-transform: uppercase;
      color: #015b9d;
    }
    .menu{
      ul{
        list-style: none;
        padding: 0;
        li{
          display: inline-block;
          float: left;
          padding: 5px;
          a{
            color: #888;
          }
          &.active{
            a {
              color: #015b9d;
            }
          }
        }
      }
    }
  }
  .content{
    background-color: $color_bg;
    padding-top: 35px;
    padding-bottom: 20px;
    #appbundle_exchange{
      display: inline-block;
      >div{
        display: inline-block;
        position: relative;
        padding-right: 30px;
        label{
          position: absolute;
          top: -20px;
          left: 0;
        }
        input{
          height: 35px;
          border-radius: 4px;
          border: 1px solid #cccccc;
          padding-left: 5px;
          padding-right: 5px;
        }
        ul{
          display: none;
        }
      }
    }
    >.btn-default{
      display: inline-block;
      float: left;
    }
  }

  .result{
    background-color: $color_bg;
    padding: 50px;
    text-align: center;
    .wrap{
      display: inline-block;
      .amount_start{
        color: #888;
        font-size: 26px;
      }
      .split{
        font-size: 26px;
        padding: 15px;
        color: #b4b4b4;
      }
      .amount_exchange{
        font-size: 46px;
        position: relative;
        top: 6px;
        color: #015b9d;
      }
    }
    .message-error{
      color: red;
      font-size: 17px;
      border: 1px solid rgba(255, 1, 1, 0.4);
      padding: 8px;
    }
  }

}