@import url("https://fonts.googleapis.com/css?family=Saira+Condensed:300,400,500,700");
body {
  font-family: 'Saira Condensed', sans-serif; }

.section-content {
  margin: 30px; }
  .section-content .header {
    background-color: rgba(237, 237, 237, 0.8);
    margin-bottom: 5px; }
    .section-content .header h1 {
      text-transform: uppercase;
      color: #015b9d; }
    .section-content .header .menu ul {
      list-style: none;
      padding: 0; }
      .section-content .header .menu ul li {
        display: inline-block;
        float: left;
        padding: 5px; }
        .section-content .header .menu ul li a {
          color: #888; }
        .section-content .header .menu ul li.active a {
          color: #015b9d; }
  .section-content .content {
    background-color: rgba(237, 237, 237, 0.8);
    padding-top: 35px;
    padding-bottom: 20px; }
    .section-content .content #appbundle_exchange {
      display: inline-block; }
      .section-content .content #appbundle_exchange > div {
        display: inline-block;
        position: relative;
        padding-right: 30px; }
        .section-content .content #appbundle_exchange > div label {
          position: absolute;
          top: -20px;
          left: 0; }
        .section-content .content #appbundle_exchange > div input {
          height: 35px;
          border-radius: 4px;
          border: 1px solid #cccccc;
          padding-left: 5px;
          padding-right: 5px; }
        .section-content .content #appbundle_exchange > div ul {
          display: none; }
    .section-content .content > .btn-default {
      display: inline-block;
      float: left; }
  .section-content .result {
    background-color: rgba(237, 237, 237, 0.8);
    padding: 50px;
    text-align: center; }
    .section-content .result .wrap {
      display: inline-block; }
      .section-content .result .wrap .amount_start {
        color: #888;
        font-size: 26px; }
      .section-content .result .wrap .split {
        font-size: 26px;
        padding: 15px;
        color: #b4b4b4; }
      .section-content .result .wrap .amount_exchange {
        font-size: 46px;
        position: relative;
        top: 6px;
        color: #015b9d; }
    .section-content .result .message-error {
      color: red;
      font-size: 17px;
      border: 1px solid rgba(255, 1, 1, 0.4);
      padding: 8px; }
