{% extends 'base.html.twig' %}
{% block body %}

<section class="section-content">
    <div class="container">
        <div class="row">

            <div class="col-md-12 header">
                <h1>Currency Converter</h1>
                <div class="menu">
                    <ul>
                        <li class="active"><a href="/">CONVERTER</a></li>
                        <li><a href="/show_history">HISTORY</a></li>
                    </ul>

                </div>
            </div>

            <div class="col-md-12 content">

                {#{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}#}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-default">Exchange</button>
                {{ form_end(form) }}
                {#{{ result | default("")}}#}

            </div>

            <div class="col-md-12 result">

                {% if error is not empty %}
                    <div class="message-error">{{ error }}</div>
                {% endif %}


                {% if result is not empty %}
                    <div class="wrap">
                        <span class="amount_start" >{{ result.amount_start }}</span>
                        <span class="split"> = </span>
                        <span class="amount_exchange"> {{ result.amount_exchange }}</span>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>
</section>
{% endblock %}
