{% extends 'base.html.twig' %}

{% block body %}

<section class="section-content">
    <div class="container">
        <div class="row">

            <div class="col-md-12 header">
                <h1>Currency Converter</h1>
                <div class="menu">
                    <ul>
                        <li ><a href="/">CONVERTER</a></li>
                        <li class="active"><a href="/show_history">HISTORY</a></li>
                    </ul>

                </div>
            </div>

            <div class="col-md-12 content">

                <table data-page-list="[10, 25, 50, 100]" data-pagination="true" data-search="true" data-toggle="table" >
                    <thead>
                    <tr>
                        <th data-sortable="true">City</th>
                        <th data-sortable="true">Date</th>
                        <th data-sortable="true">Cashstart</th>
                        <th data-sortable="true">Cashexchange</th>
                        <th data-sortable="true">Cashstartcode</th>
                        <th data-sortable="true">Cashexchangecode</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for exchange in exchanges %}
                        <tr>
                            <td>{{ exchange.city }}</td>
                            <td>{{ exchange.date|date('Y-m-d H:i:s') }}</td>
                            <td>{{ exchange.cashStart }}</td>
                            <td>{{ exchange.cashExchange }}</td>
                            <td>{{ exchange.cashStartCode }}</td>
                            <td>{{ exchange.cashExchangeCode }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</section>

{% endblock %}
